<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Projects</ion-title>  
    <ion-buttons (click)="addProj()" end>
      <button ion-button icon-only>
        <p>New</p>
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-list>
    <ion-item *ngFor="let project of projects; let i = index">
      {{ project }} <button *ngIf="showDelete" (click)="deleteProj(i)" ion-button clear item-right>Delete</button>
    </ion-item>
  </ion-list>
</ion-content>
